In [53]:
ribasso = 35.547 
nome_file = "SAL.xlsx"
ed_tariffa = "ed_2023"
ed_tariffa_compensazione = "ed_2024"

In [54]:
import pandas as pd
import numpy as np
import locale
from sqlalchemy import create_engine, text
import openpyxl 

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

def leggi_excel(file_excel: str, nome_foglio: str = ""):
      wb = openpyxl.load_workbook(file_excel)
      ws = wb.active if nome_foglio == "" else wb[nome_foglio]      

      # Legge l'header nella riga 1
      colonna = 1
      finecolonne = False
      colonne = []
      while not finecolonne:
            cella = ws.cell(row=1, column=colonna)
            finecolonne = (cella.value == None or cella.value == "")
            if not finecolonne:
                colonne.append(cella.value)
            colonna += 1

      # Legge i dati
      df = pd.DataFrame(columns=colonne)
      for riga in range(2, ws.max_row + 1):
            for colonna in range(len(colonne)):
                  df.loc[riga, colonne[colonna]] = ws.cell(row=riga, column=colonna+1).value
      return df, wb, ws

def scrivi_su_excel(df, nome_file, nome_foglio=""):
      wb = openpyxl.load_workbook(nome_file)
      ws = wb.active if nome_foglio == "" else wb[nome_foglio]    
      ws.cell(row=1, column=df.columns.get_loc("Inserita")+2).value = ed_tariffa
      ws.cell(row=1, column=df.columns.get_loc("Inserita")+3).value = ed_tariffa_compensazione
      ws.cell(row=1, column=df.columns.get_loc("Inserita")+4).value = f"Pr_tot_{ed_tariffa}"
      ws.cell(row=1, column=df.columns.get_loc("Inserita")+5).value = f"Pr_tot_{ed_tariffa_compensazione}"
      for riga in range(0, len(df)):
            ws.cell(row=riga+2, column=df.columns.get_loc("Inserita")+2).value = df.loc[riga, f'{ed_tariffa}']
            ws.cell(row=riga+2, column=df.columns.get_loc("Inserita")+3).value = df.loc[riga, f'{ed_tariffa_compensazione}']
            ws.cell(row=riga+2, column=df.columns.get_loc("Inserita")+4).value = df.loc[riga, f"Pr_tot_{ed_tariffa}"]
            ws.cell(row=riga+2, column=df.columns.get_loc("Inserita")+5).value = df.loc[riga, f"Pr_tot_{ed_tariffa_compensazione}"]
            ws.cell(row=riga+2, column=df.columns.get_loc("Inserita")+6).value = df.loc[riga, 'Diff']
            ws.cell(row=riga+2, column=df.columns.get_loc("Inserita")+7).value = df.loc[riga, '_90_perc']
      wb.save(nome_file)
      wb.close()

df = pd.read_excel(nome_file, sheet_name='VDT')
df = df.iloc[:, :-6]
engine = create_engine('mysql+pymysql://enricoma_user:932197Silvestr_@185.2.168.125/enricoma_lavoro')
query = text(f"select numero_s_vdt, um, {ed_tariffa}, {ed_tariffa_compensazione} FROM tariffe UNION select codice_materiale as numero_s_vdt, um, {ed_tariffa}, {ed_tariffa_compensazione} FROM macep")
tariffe = pd.read_sql_query(query, con=engine)
df_tot = df.merge(tariffe[["numero_s_vdt", ed_tariffa, ed_tariffa_compensazione]], left_on="VDT", right_on="numero_s_vdt", how="left").drop("numero_s_vdt", axis=1)

df_tot[f"Pr_tot_{ed_tariffa}"] = np.where(np.logical_or(df_tot["NV"].isna(), df_tot["NV"] == "MaCeP"), 
                            df_tot["Quantità"] * df_tot[ed_tariffa], 
                            df_tot["Quantità"] * df_tot["Prezzo"])
df_tot[f"Pr_tot_{ed_tariffa_compensazione}"] = np.where(np.logical_or(df_tot["NV"].isna(), df_tot["NV"] == "MaCeP"), 
                            df_tot["Quantità"] * df_tot[ed_tariffa_compensazione], 
                            df_tot["Quantità"] * df_tot["Prezzo"])
df_tot["Diff"] = df_tot[f"Pr_tot_{ed_tariffa_compensazione}"] - df_tot[f"Pr_tot_{ed_tariffa}"]
df_tot["_90_perc"] = df_tot["Diff"] * 0.9
df_os = df_tot[df_tot['VDT'].str.startswith("OS")]
df_prog = df_tot[df_tot['VDT'].str.contains("DM 17.06.2016 n.50", na=False)]

importo_tot_prog = round(df_prog[f"Pr_tot_{ed_tariffa}"].sum(), 2) 
importo_tot_os = round(df_os[f"Pr_tot_{ed_tariffa}"].sum(), 2)
importo_tot_lavori = df_tot[f"Pr_tot_{ed_tariffa}"].sum() - importo_tot_prog - importo_tot_os
importo_tot_lordo = importo_tot_prog + importo_tot_os + importo_tot_lavori
importo_ribasso = round((importo_tot_lavori + importo_tot_prog) * (ribasso/100), 2)
importo_netto_lavori_prog = importo_tot_lavori + importo_tot_prog - importo_ribasso
importo_netto_tot = importo_netto_lavori_prog + importo_tot_os

allineamento = 15

locale.setlocale(locale.LC_ALL, 'it_IT.utf8')
f_ribasso = locale.format_string("%.3f", ribasso, grouping=True)
f_importo_tot_lavori = locale.format_string("%.2f", importo_tot_lavori, grouping=True)
f_importo_tot_prog = locale.format_string("%.2f", importo_tot_prog, grouping=True)
f_importo_tot_os = locale.format_string("%.2f", importo_tot_os, grouping=True)
f_importo_tot_lordo = locale.format_string("%.2f", importo_tot_lordo, grouping=True)
f_importo_ribasso = locale.format_string("%.2f", importo_ribasso, grouping=True)
f_importo_netto_lavori_prog = locale.format_string("%.2f", importo_netto_lavori_prog, grouping=True)
f_importo_netto_tot = locale.format_string("%.2f", importo_netto_tot, grouping=True)
print(f"Importo lordo lavori                      = {f_importo_tot_lavori.rjust(allineamento)}\n"
      f"Importo progettazione                     = {f_importo_tot_prog.rjust(allineamento)}\n"
      f"Importo oneri sicurezza                   = {f_importo_tot_os.rjust(allineamento)}\n"
      f"\033[1m\033[46mImporto totale lordo                      = {f_importo_tot_lordo.rjust(allineamento)}\033[0m\n"
      f"Importo ribasso del {f_ribasso} %              = {f_importo_ribasso.rjust(allineamento)}\n"
      f"Importo netto solo lavori e progettazione = {f_importo_netto_lavori_prog.rjust(allineamento)}\n"
      f"\033[1m\033[43mImporto totale al netto del ribasso       = {f_importo_netto_tot.rjust(allineamento)}\033[0m\n"    
     )

Importo lordo lavori                      =      401.221,30
Importo progettazione                     =            0,00
Importo oneri sicurezza                   =       14.176,71
Importo totale lordo                      =      415.398,01
Importo ribasso del 35,547 %              =      142.622,14
Importo netto solo lavori e progettazione =      258.599,16
Importo totale al netto del ribasso       =      272.775,87

In [55]:
df_tot.head()

,ODA,Posizione,PO,Descrizione_PO,Descrizione,VDT,Quantità,NV,Prezzo,Rib,Data,Ed_Tariffa,Inserita,ed_2023,ed_2024,Pr_tot_ed_2023,Pr_tot_ed_2024,Diff,_90_perc
0,5031013104,10,1,Alimentazione dispositivi video,bar+sala attesa,TC.PM.F.2 05.B,31.50,NaN,NaN,SI,29.02.2024,ed_2023,x,0.88,0.96,27.720,30.240,2.520,2.2680
1,5031013104,10,1,Alimentazione dispositivi video,biglietteria + atrio,TC.PM.F.2 05.B,158.55,NaN,NaN,SI,29.02.2024,ed_2023,x,0.88,0.96,139.524,152.208,12.684,11.4156
2,5031013104,10,1,Alimentazione dispositivi video,Cavo elettrico 2° marciapiede,TC.PM.F.2 05.B,99.60,NaN,NaN,SI,29.02.2024,ed_2023,x,0.88,0.96,87.648,95.616,7.968,7.1712
3,5031013104,10,1,Alimentazione dispositivi video,Cavo elettrico 3° marciapiede,TC.PM.F.2 05.B,60.40,NaN,NaN,SI,29.02.2024,ed_2023,x,0.88,0.96,53.152,57.984,4.832,4.3488
4,5031013104,10,1,Alimentazione dispositivi video,Cavo elettrico 3° marciapiede,TC.PM.F.2 05.B,65.00,NaN,NaN,SI,29.02.2024,ed_2023,x,0.88,0.96,57.200,62.400,5.200,4.6800

In [56]:
somma_positivi = df_tot.loc[df_tot["_90_perc"] > 0, "_90_perc"].sum().round(2)
somma_positivi

11038.63

In [57]:
somma_negativi = df_tot.loc[df_tot["_90_perc"] < 0, "_90_perc"].sum().round(2)
somma_negativi

-67.81

In [58]:
totale_positivi_piu_negativi = somma_positivi + somma_negativi
totale_positivi_piu_negativi

10970.82

In [59]:
scrivi_su_excel(df_tot, nome_file, "VDT")