In [81]:
ribasso = 35.547 
nome_file = "SAL.xlsx"
ed_tariffa = "ed_2023"
ed_tariffa_compensazione = "ed_2024"

In [82]:
import pandas as pd
import numpy as np
import locale
from sqlalchemy import create_engine, text
import xlwings as xw

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

def colonna_da_nome(ws, nome):
      col_ref = ws.range(nome).address

      # Estrai la lettera della colonna dal riferimento alla cella
      col_letter = ''.join(c for c in col_ref if c.isalpha())

      # Converti la lettera della colonna nel numero corrispondente
      col_num = 0
      for char in col_letter:
            col_num = col_num * 26 + (ord(char.upper()) - ord('A')) + 1

      return col_num

def leggi_riepilogo(nome_file):
      app = xw.App(visible=False)
      wb = app.books.open(nome_file)
      ws = wb.sheets['Riepilogo']
      aq = ws.range('aq').value
      ca = ws.range('ca').value
      oda = ws.range('oda').value
      wb.close()
      app.quit()
      return aq, ca, oda

def scrivi_su_excel(df, nome_file, nome_foglio=""):
      app = xw.App(visible=False)
      wb = app.books.open(nome_file)
      ws = wb.sheets.active if nome_foglio == "" else wb.sheets[nome_foglio]

      col_ed_x = colonna_da_nome(ws, 'ed_x')
      col_ed_y = colonna_da_nome(ws, 'ed_y')
      col_pr_tot_ed_x = colonna_da_nome(ws, 'pr_tot_ed_x')
      col_pr_tot_ed_y = colonna_da_nome(ws, 'pr_tot_ed_y')
      col_applicazione = colonna_da_nome(ws, 'applicazione')
      col_um = colonna_da_nome(ws, 'um')
      col_diff = colonna_da_nome(ws, 'diff')
      col_90_perc = colonna_da_nome(ws, '_90_perc')
      
      ws.cells(1, col_ed_x).value = ed_tariffa
      ws.cells(1, col_ed_y).value = ed_tariffa_compensazione
      ws.cells(1, col_pr_tot_ed_x).value = f"Pr_tot_{ed_tariffa}"
      ws.cells(1, col_pr_tot_ed_y).value = f"Pr_tot_{ed_tariffa_compensazione}"

      for riga in range(0, len(df)):
            ws.cells(riga + 2, col_applicazione).value = df.loc[riga, 'applicazione']
            ws.cells(riga + 2, col_um).value = df.loc[riga, 'um']
            ws.cells(riga + 2, col_ed_x).value = df.loc[riga, f'{ed_tariffa}']
            ws.cells(riga + 2, col_ed_y).value = df.loc[riga, f'{ed_tariffa_compensazione}']
            ws.cells(riga + 2, col_pr_tot_ed_x).value = df.loc[riga, f"Pr_tot_{ed_tariffa}"]
            ws.cells(riga + 2, col_pr_tot_ed_y).value = df.loc[riga, f"Pr_tot_{ed_tariffa_compensazione}"]
            ws.cells(riga + 2, col_diff).value = df.loc[riga, 'Diff']
            ws.cells(riga + 2, col_90_perc).value = df.loc[riga, '_90_perc']

      wb.save()
      wb.close()
      app.quit()

df = pd.read_excel(nome_file, sheet_name='VDT')
df = df.loc[:, ~df.columns.str.startswith('ed_')]
df = df.loc[:, ~df.columns.str.startswith('Pr_tot_ed_')]
df.drop(['UM', 'App', 'Diff', '_90_perc'], axis=1, inplace=True)
engine = create_engine('mysql+pymysql://enricoma_user:932197Silvestr_@185.2.168.125/enricoma_lavoro')
query = text(f"select numero_s_vdt, um, applicazione, {ed_tariffa}, {ed_tariffa_compensazione} FROM tariffe UNION select codice_materiale as numero_s_vdt, um, applicazione, {ed_tariffa}, {ed_tariffa_compensazione} FROM macep")
tariffe = pd.read_sql_query(query, con=engine)
df_tot = df.merge(tariffe[["numero_s_vdt", 'um', 'applicazione', ed_tariffa, ed_tariffa_compensazione]], left_on="VDT", right_on="numero_s_vdt", how="left").drop("numero_s_vdt", axis=1)

aq, ca, oda = leggi_riepilogo(nome_file)
df_tot.insert(1, 'aq', aq)
df_tot.insert(2, 'ca', ca)
df_tot.insert(3, 'oda', oda)

df_tot[f"Pr_tot_{ed_tariffa}"] = np.where(np.logical_and(np.logical_or(df_tot["NV"].isna(), df_tot["NV"] == "MaCeP"), df_tot["applicazione"] == "X"), df_tot["Quantità"] * df_tot[ed_tariffa], df_tot["Quantità"] * df_tot["Prezzo"])
df_tot[f"Pr_tot_{ed_tariffa_compensazione}"] = np.where(np.logical_and(np.logical_or(df_tot["NV"].isna(), df_tot["NV"] == "MaCeP"), df_tot["applicazione"] == "X"), df_tot["Quantità"] * df_tot[ed_tariffa_compensazione], df_tot["Quantità"] * df_tot["Prezzo"])
df_tot["Diff"] = df_tot[f"Pr_tot_{ed_tariffa_compensazione}"] - df_tot[f"Pr_tot_{ed_tariffa}"]
df_tot["_90_perc"] = df_tot["Diff"] * 0.9
df_os = df_tot[df_tot['VDT'].str.startswith("OS")]
df_prog = df_tot[df_tot['VDT'].str.contains("DM 17.06.2016 n.50", na=False)]

importo_tot_prog = round(df_prog.loc[df_prog["Inserita"] == 'x', f"Pr_tot_{ed_tariffa}"].sum(), 2) 
importo_tot_os = round(df_os.loc[df_os["Inserita"] == 'x', f"Pr_tot_{ed_tariffa}"].sum(), 2)
importo_tot_lavori = df_tot.loc[df_tot["Inserita"] == 'x', f"Pr_tot_{ed_tariffa}"].sum() - importo_tot_prog - importo_tot_os
importo_tot_lordo = importo_tot_prog + importo_tot_os + importo_tot_lavori
importo_ribasso = round((importo_tot_lavori + importo_tot_prog) * (ribasso/100), 2)
importo_netto_lavori_prog = importo_tot_lavori + importo_tot_prog - importo_ribasso
importo_netto_tot = importo_netto_lavori_prog + importo_tot_os

allineamento = 15

locale.setlocale(locale.LC_ALL, 'it_IT.utf8')
f_ribasso = locale.format_string("%.3f", ribasso, grouping=True)
f_importo_tot_lavori = locale.format_string("%.2f", importo_tot_lavori, grouping=True)
f_importo_tot_prog = locale.format_string("%.2f", importo_tot_prog, grouping=True)
f_importo_tot_os = locale.format_string("%.2f", importo_tot_os, grouping=True)
f_importo_tot_lordo = locale.format_string("%.2f", importo_tot_lordo, grouping=True)
f_importo_ribasso = locale.format_string("%.2f", importo_ribasso, grouping=True)
f_importo_netto_lavori_prog = locale.format_string("%.2f", importo_netto_lavori_prog, grouping=True)
f_importo_netto_tot = locale.format_string("%.2f", importo_netto_tot, grouping=True)
print(f"Importo lordo lavori                      = {f_importo_tot_lavori.rjust(allineamento)}\n"
      f"Importo progettazione                     = {f_importo_tot_prog.rjust(allineamento)}\n"
      f"Importo oneri sicurezza                   = {f_importo_tot_os.rjust(allineamento)}\n"
      f"\033[1m\033[46mImporto totale lordo                      = {f_importo_tot_lordo.rjust(allineamento)}\033[0m\n"
      f"Importo ribasso del {f_ribasso} %              = {f_importo_ribasso.rjust(allineamento)}\n"
      f"Importo netto solo lavori e progettazione = {f_importo_netto_lavori_prog.rjust(allineamento)}\n"
      f"\033[1m\033[43mImporto totale al netto del ribasso       = {f_importo_netto_tot.rjust(allineamento)}\033[0m\n"    
     )

Importo lordo lavori                      =      145.021,07
Importo progettazione                     =            0,00
Importo oneri sicurezza                   =       14.176,71
Importo totale lordo                      =      159.197,78
Importo ribasso del 35,547 %              =       51.550,64
Importo netto solo lavori e progettazione =       93.470,43
Importo totale al netto del ribasso       =      107.647,14

In [83]:
somma_positivi = df_tot.loc[df_tot["_90_perc"] > 0, "_90_perc"].sum().round(2)
somma_positivi

10979.84

In [84]:
somma_negativi = df_tot.loc[df_tot["_90_perc"] < 0, "_90_perc"].sum().round(2)
somma_negativi

-67.81

In [85]:
totale_positivi_piu_negativi = somma_positivi + somma_negativi
totale_positivi_piu_negativi

10912.03

In [86]:
scrivi_su_excel(df_tot, nome_file, "VDT")

In [87]:
df_tot.head()

,Inserita,aq,ca,oda,Posizione,PO,Descrizione_PO,Descrizione,VDT,Quantità,NV,Prezzo,Rib,Data,Edizione_Tariffa,um,applicazione,ed_2023,ed_2024,Pr_tot_ed_2023,Pr_tot_ed_2024,Diff,_90_perc
0,x,1426/2022,08/2023,5031013104,10,1,Alimentazione dispositivi video,bar+sala attesa,TC.PM.F.2 05.B,31.50,NaN,NaN,SI,29.02.2024,ed_2023,M,X,0.88,0.96,27.720,30.240,2.520,2.2680
1,x,1426/2022,08/2023,5031013104,10,1,Alimentazione dispositivi video,biglietteria + atrio,TC.PM.F.2 05.B,158.55,NaN,NaN,SI,29.02.2024,ed_2023,M,X,0.88,0.96,139.524,152.208,12.684,11.4156
2,x,1426/2022,08/2023,5031013104,10,1,Alimentazione dispositivi video,Cavo elettrico 2° marciapiede,TC.PM.F.2 05.B,99.60,NaN,NaN,SI,29.02.2024,ed_2023,M,X,0.88,0.96,87.648,95.616,7.968,7.1712
3,x,1426/2022,08/2023,5031013104,10,1,Alimentazione dispositivi video,Cavo elettrico 3° marciapiede,TC.PM.F.2 05.B,60.40,NaN,NaN,SI,29.02.2024,ed_2023,M,X,0.88,0.96,53.152,57.984,4.832,4.3488
4,x,1426/2022,08/2023,5031013104,10,1,Alimentazione dispositivi video,Cavo elettrico 3° marciapiede,TC.PM.F.2 05.B,65.00,NaN,NaN,SI,29.02.2024,ed_2023,M,X,0.88,0.96,57.200,62.400,5.200,4.6800