In [1]:
anno = '2024'
# NB: Quando viene aggiunto un nuovo anno ricordarsi di inserirlo nel dtype_mapping qui sotto

In [2]:
import pandas as pd
from sqlalchemy import create_engine, Float, VARCHAR, Text
pd.set_option("display.max_columns", None)

dtype_mapping_tariffe = {
    'tariffa':                              VARCHAR(2),
    'gruppo':                               VARCHAR(7),
    'descrizione_estesa_per_gruppo_2024':   Text,
    'numero_vdt':                           VARCHAR(12),
    'descrizione_estesa_per_voce':          Text,
    'numero_s_vdt':                         VARCHAR(15),
    'descrizione_2024':                     Text,
    'titolo':                               Text,
    'testo_esteso_2024':                    Text,
    'stato':                                VARCHAR(4),
    'um':                                   VARCHAR(5),
    'applicazione':                         VARCHAR(1),
    'ed_1992':                              Float,
    'ed_2008':                              Float,
    'ed_2009':                              Float,
    'ed_2010':                              Float,
    'ed_2011':                              Float,
    'ed_2012':                              Float,
    'ed_2013':                              Float,
    'ed_2014':                              Float,
    'ed_2015':                              Float,
    'ed_2016':                              Float,
    'ed_2017':                              Float,
    'ed_2018':                              Float,
    'ed_2019':                              Float,
    'ed_2020':                              Float,
    'ed_2021':                              Float,
    'ed_2022':                              Float,
    'ed_2022_ec':                           Float,
    'ed_2022_04':                           Float,
    'ed_2022_05':                           Float,
    'ed_2022_11':                           Float,
    'ed_2023':                              Float,
    'ed_2023_ec':                           Float,
    'ed_2024':                              Float,
    'perc_mo_2018':                         Float,
    'perc_mo_2019':                         Float,
    'perc_mo_2020':                         Float,
    'perc_mo_2021':                         Float,
    'perc_mo_2022':                         Float,
    'perc_mo_2022_ec':                      Float,
    'perc_mo_2022_04':                      Float,
    'perc_mo_2022_05':                      Float,
    'perc_mo_2022_11':                      Float,
    'perc_mo_2023':                         Float,
    'perc_mo_2023_ec':                      Float,
    'perc_mo_2024':                         Float,
    'ean11_uan_2022':                       VARCHAR(5),
    'cella_di_controllo':                   VARCHAR(5),
    'inserimento':                          VARCHAR(3),
    'eliminazioni':                         VARCHAR(4),
    'var_prezzo':                           VARCHAR(3),
    'perc_var':                             Float
}

dtype_mapping_macep = {
    'codice_materiale':     VARCHAR(14),
    'descrizione':          Text,
    'um':                   VARCHAR(3),
    'ed_2016':              Float,
    'ed_2017':              Float,
    'ed_2018':              Float,
    'ed_2019':              Float,
    'ed_2020':              Float,
    'ed_2021':              Float,
    'ed_2022':              Float,
    'ed_2022_04':           Float,
    'ed_2022_05':           Float,
    'ed_2023':              Float,
    'ed_2024':              Float,
    'cella_di_controllo':   VARCHAR(5),
    'inserimento':          VARCHAR(3),
    'eliminazioni':         VARCHAR(4),
    'var_prezzo':           VARCHAR(3),
    'perc_var':             Float
}

In [9]:
df = pd.read_excel(f"DB_tariffe_{anno}.xlsx", sheet_name=f"DB_{anno}")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41920 entries, 0 to 41919
Data columns (total 53 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Tariffa                             41920 non-null  object
 1   Gruppo                              41920 non-null  object
 2   Descrizione Estesa per Gruppo 2024  41920 non-null  object
 3   Numero VdT                          41920 non-null  object
 4   Descrizione Estesa per Voce 2024    41920 non-null  object
 5   Numero S.VdT                        41920 non-null  object
 6   Descrizione 2024                    41916 non-null  object
 7   Titolo 2024                         41916 non-null  object
 8   Testo esteso 2024                   41916 non-null  object
 9   Stato                               41686 non-null  object
 10  UdM                                 41920 non-null  object
 11  Applicazione                        41371 non-null  object
 12  1992 / 1993                         14476 non-null  float64
 13  2008                                19793 non-null  float64
 14  2009                                21517 non-null  float64
 15  2010                                21330 non-null  float64
 16  2011                                15910 non-null  float64
 17  2012                                20073 non-null  float64
 18  2013                                20032 non-null  float64
 19  2014                                20525 non-null  float64
 20  2015                                20867 non-null  float64
 21  2016                                20995 non-null  float64
 22  2017                                21783 non-null  float64
 23  2018                                23464 non-null  float64
 24  2019                                23251 non-null  float64
 25  2020                                22841 non-null  float64
 26  2021                                22972 non-null  float64
 27  2022
(SG=13,5%)                     23136 non-null  float64
 28  2022_EC
(SG=13,5%)                  23136 non-null  float64
 29  2022_04_08
(SG=13,5%)               23136 non-null  float64
 30  2022_05
(SG=13,5%)                 23139 non-null  float64
 31  2022_11_EC
(SG=13,5%)               23180 non-null  float64
 32  2023
(SG=15%)                       23287 non-null  float64
 33  2023_EC
(SG=15%)                    23288 non-null  float64
 34  2024
(SG=15%)                       23327 non-null  float64
 35  %MO 2018                            23464 non-null  float64
 36  %MO 2019                            23251 non-null  float64
 37  %MO 2020                            22841 non-null  float64
 38  %MO 2021                            22972 non-null  float64
 39  %MO 2022                            23136 non-null  float64
 40  %MO 2022_EC                         23136 non-null  float64
 41  %MO 2022_04_08                      23136 non-null  float64
 42  %MO 2022_05                         23139 non-null  float64
 43  %MO 2022_11_EC                      23180 non-null  float64
 44  %MO 2023                            23287 non-null  float64
 45  %MO 2023_EC                         23288 non-null  float64
 46  %MO 2024                            23327 non-null  float64
 47  EAN11/UAN 2022                      22354 non-null  object
 48  cella di controllo                  41920 non-null  bool
 49  inserimento                         301 non-null    object
 50  eliminazioni                        262 non-null    object
 51  var prezzo                          17917 non-null  object
 52  %var                                23026 non-null  float64
dtypes: bool(1), float64(36), object(16)
memory usage: 16.7+ MB

In [10]:
col_descr = f"Descrizione Estesa per Voce {anno}"
col_titolo = f"Titolo {anno}"
df = df.rename(columns={
    col_descr: "Descrizione Estesa per Voce",
    col_titolo: "Titolo",
    "Testo esteso 2023": "Testo esteso",
    "UdM": "um",
    "EAN11/UAN 2022": "ean11_uan_2022",
    "1992 / 1993": "1992",
    "2022\n(SG=13,5%)": "2022",
    "2022_EC\n(SG=13,5%)": "2022_EC",
    "2022_04_08\n(SG=13,5%)": "2022_04",
    "2022_05 \n(SG=13,5%)": "2022_05",
    "2022_11_EC\n(SG=13,5%)": "2022_11",
    "2023\n(SG=15%)": "2023",
    "2023_EC\n(SG=15%)": "2023_EC",
    "2024\n(SG=15%)": "2024",
    "%MO 2022_04_08": "%MO 2022_04",
    "%MO 2022_11_EC": "%MO 2022_11"
    })
df.columns = [str(col).replace('%', 'perc_') for col in df.columns]   
df.columns = [str(col.strip()).replace(' ', '_') for col in df.columns]   
df.columns = [str(col).replace('.', '_') for col in df.columns] 
nuovi_nomi_colonne = {col: f'ed_{col}' if col[0].isdigit() else col for col in df.columns}
df.rename(columns=nuovi_nomi_colonne, inplace=True)
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].astype('string')
#df.to_parquet("Tariffe.parquet")
# Esempio di stringa di connessione: 'mysql+pymysql://user:password@host/dbname'
engine = create_engine('mysql+pymysql://enricoma_user:932197Silvestr_@185.2.168.125/enricoma_lavoro')
df.columns = [col.lower() for col in df.columns]
df.set_index(['numero_s_vdt'], drop=True, inplace=True)
df.to_sql('tariffe', con=engine, if_exists='replace', index=True, index_label = 'numero_s_vdt', dtype=dtype_mapping_tariffe)
engine.dispose()

In [3]:
df_macep = pd.read_excel(f"DB_tariffe_{anno}.xlsx", sheet_name=f"MaCeP_{anno}")
df_macep = df_macep.rename(columns={
    "2022 (SG=13,5%)": "2022",
    "2022_04_08 (SG=13,5%)": "2022_04",
    "2022_05 (SG=13,5%)": "2022_05",
    "2023\n(K=10% SG=15%)": "2023",
    "2024\n(K=10% SG=15%)": "2024",
    })
df_macep.columns = [str(col).replace('%', 'perc_') for col in df_macep.columns]   
df_macep.columns = [str(col.strip()).replace(' ', '_') for col in df_macep.columns]   
df_macep.columns = [str(col).replace('.', '_') for col in df_macep.columns]  
nuovi_nomi_colonne = {col: f'ed_{col}' if col[0].isdigit() else col for col in df_macep.columns}
df_macep.rename(columns=nuovi_nomi_colonne, inplace=True)
for col in df_macep.columns:
    if df_macep[col].dtype == 'object':
        df_macep[col] = df_macep[col].astype('string')
#df_macep.to_parquet("Macep.parquet")

In [4]:
engine = create_engine('mysql+pymysql://enricoma_user:932197Silvestr_@185.2.168.125/enricoma_lavoro')
df_macep.columns = [col.lower() for col in df_macep.columns]
df_macep.set_index(['codice_materiale'], drop=True, inplace=True)
df_macep['applicazione'] = 'X'
df_macep.to_sql('macep', con=engine, if_exists='replace', index=True, index_label = 'codice_materiale', dtype=dtype_mapping_macep)
engine.dispose()