In [1]:
import pandas as pd
import websap

pd.set_option("display.max_columns", None)

In [13]:

row = websap.read_query("select * from sal_misure where id_sal=%s and vdt=%s",('5031011905-003', '814/3090'))
row

,id_sal,n_riga,posizione,po,descrizione_po,descrizione,vdt,quantità,nv,prezzo,rib,data,edizione_tariffa,inserita,note
0,5031011905-003,7,10,1,Q.E. CALALZO,MATERIALE INSTALLAZIONE,814/3090,45.0,MaCeP,None,SI,2024-02-29,ed_2023,x,None
1,5031011905-003,105,10,1,S.E. CALALZO,MATERIALE INSTALLAZIONE,814/3090,25.0,MaCeP,None,SI,2024-02-29,ed_2023,x,None
2,5031011905-003,193,10,1,S.E. PORTOGRUARO,MATERIALE INSTALLAZIONE,814/3090,25.0,MaCeP,None,SI,2024-02-29,ed_2023,x,None
3,5031011905-003,223,10,1,S.E. TREVISO,MATERIALE INSTALLAZIONE,814/3090,15.0,MaCeP,None,SI,2024-02-29,ed_2023,,None

In [14]:
row.set_index(['id_sal', 'n_riga'],inplace=True)
row

                      posizione  po    descrizione_po  \
id_sal         n_riga
5031011905-003 7             10   1      Q.E. CALALZO
               105           10   1      S.E. CALALZO
               193           10   1  S.E. PORTOGRUARO
               223           10   1      S.E. TREVISO

                                   descrizione       vdt  quantità     nv  \
id_sal         n_riga
5031011905-003 7       MATERIALE INSTALLAZIONE  814/3090      45.0  MaCeP
               105     MATERIALE INSTALLAZIONE  814/3090      25.0  MaCeP
               193     MATERIALE INSTALLAZIONE  814/3090      25.0  MaCeP
               223     MATERIALE INSTALLAZIONE  814/3090      15.0  MaCeP

                      prezzo rib        data edizione_tariffa inserita  note
id_sal         n_riga
5031011905-003 7        None  SI  2024-02-29          ed_2023        x  None
               105      None  SI  2024-02-29          ed_2023        x  None
               193      None  SI  2024-02-29          ed_2023        x  None
               223      None  SI  2024-02-29          ed_2023           None

In [15]:
for index, r in row.iterrows():
    r['inserita'] = 'x'
    websap.aggiorna_riga_sal(index, r)